/*DOCUMENTO CSS*/

* { font-size: 20px;
    margin: 0px;
    padding: 0px;   }

    body { background-color: #0064ab; }

    h1 { margin: 20px;
        color:red; 
        font-size: 3em;
        text-align: center; }

        h2 { color: #01fa16}
        h3, h5 { color: purple}
        h4, h6 { color: orange}
        
        .encabezado1 {text-align: left;}