/* DOCUMENTO CSS */

*{ margin: 0px;
    padding: 0px; }

    body   {font-family: 'Abel', sans-serif;}
    .cabecera { display: block;
                width: 100%;
                min-height:80px;
                background: #f9e6c4;}
    
    h1 { text-align: center;
            padding-top: 20px;
            font-size: 3em;
            text-transform: uppercase;
        }

        h1, h2 { text-align: center; }
    
        